<nav class="navbar navbar-expand-lg top-0 z-index-3 w-100 shadow-none  bg-gradient-primary d-flex justify-content-between ">
  <div class="col-md-4 text-white">
    <span>LOGO</span>
  </div>
  <div class="col-md-8 text-right">
    <a class="text-white" href="#">
      <i class="fa-solid fa-house"></i>
      Home
    </a>
    <a class="text-white" href="#">
      <i class="fa-solid fa-list"></i>
      Catálogo
    </a>
    <a class="text-white" href="#">
      <i class="fa-solid fa-motorcycle"></i>
      Entregadores
    </a>
    <a class="text-white" href="#">
      <i class="fa-solid fa-chart-line"></i>
      Dashboard
    </a>
    <a class="text-white" href="#">
      <i class="fa-solid fa-gear"></i>
    </a>
  </div>
</nav>

