<div class="row my-3">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h1>Bem-vindo</h1>
                <span>É bom te ver novamente!</span>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="validateForm()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-hotel text-primary"></i>
                                </span>
                            </div>
                            <span *ngIf="errorEmail" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Senha" *ngIf="isVisible" formControlName="password">
                                <input type="password" class="form-control" placeholder="Senha" *ngIf="!isVisible" formControlName="password">
                                <span class="input-group-text pointer" (click)="changeVisibility()">
                                    <i class="fa-solid fa-lock text-primary pointer" *ngIf="!isVisible"></i>
                                    <i class="fa-solid fa-lock-open text-warning pointer" *ngIf="isVisible"></i>
                                </span>
                            </div>
                            <span *ngIf="errorPassword" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn bg-gradient-primary text-white w-100" type="submit" *ngIf="!isLoading">Entrar</button>
                        <button class="btn bg-gradient-primary text-white w-100" type="button" *ngIf="isLoading" disabled>Entrando <i class="fa-solid fa-spinner"></i></button>
                        <button class="btn bg-gradient-warning text-white w-100 my-3" type="button" (click)="navigate()">Criar conta</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="#">Esqueceu a senha?</a>
            </div>
        </div>
    </div>
</div>