<div class="row my-3">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h1>Bem-vindo</h1>
            </div>
            <div class="card-body">
                <form>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="E-mail">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-hotel text-primary"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Senha">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-lock text-primary"></i>
                                    <!-- <i class="fa-solid fa-lock-open"></i> -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn bg-gradient-primary text-white w-100">Entrar</button>
                        <button class="btn bg-gradient-warning text-white w-100 my-3" (click)="navigate()">Criar conta</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <i class="fa-brands fa-dev mr-2"></i>
                <small>Em desenvolvimento</small>
                <i class="fa-brands fa-dev ml-2"></i>
            </div>
        </div>
    </div>
</div>