<div class="row">
    <div class="col-md-8">
        <div class="card my-4 text-center">
            <h2 class="my-4">Lojas cadastradas</h2>
            <div class="card-body">
                <div class="col-md-8 offset-md-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Nome</th>
                                <th>Zip</th>
                                <th>Cidade</th>
                                <th class="text-right">Status</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let foodstore of foodstores">
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>{{ foodstore.name }}</td>
                                    <td>{{ foodstore.address.zip_code }}</td>
                                    <td>{{ foodstore.address.city }}</td>
                                    
                                    <span *ngIf="foodstore.actived" class="badge bg-gradient-primary text-white">Ativo</span>
                                    <span *ngIf="!foodstore.actived" class="badge bg-gradient-warning text-white">Inativo</span>

                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                                        <i class="fa-solid fa-arrow-up"></i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                                        <i class="fa-solid fa-pen"></i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                                        <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card my-4 text-center">
            <div class="card-header">
                <h2>Cadastrar loja</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Nome ">
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="CEP"/>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Number"/>
                              </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Estado"/>
                              </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Rua"/>
                              </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Cidade"/>
                              </div>
                        </div>
                        <div class="col-md-12">
                            <button class="w-100 btn btn-sm bg-gradient-warning text-white">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>