<div class="row">
    <div class="col-md-8">
        <div class="card my-4 text-center">
            <h2 class="my-4">Lojas cadastradas</h2>
            <div class="card-body">
                <div class="col-md-8 offset-md-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Job Position</th>
                                <th>Since</th>
                                <th class="text-right">Salary</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">2</td>
                                <td>John Doe</td>
                                <td>Design</td>
                                <td>2012</td>
                                <td class="text-right">&euro; 89,241</td>
                                <td class="td-actions text-right">
                                  <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm " data-original-title="" title="">
                                    <i class="fa-solid fa-arrow-up"></i>
                                  </button>
                                  <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                                    <i class="fa-solid fa-pen"></i>
                                  </button>
                                  <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                                    <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card my-4 text-center">
            <div class="card-body">
                <h2>Cadastrar </h2>
            </div>
        </div>
    </div>
</div>