<div class="row">
    <div class="col-md-8">
        <div class="card my-4 text-center">
            <h2 class="my-4">Lojas cadastradas</h2>
            <div class="card-body">
                <div class="col-md-8 offset-md-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Nome</th>
                                <th>Zip</th>
                                <th>Cidade</th>
                                <th class="text-right">Status</th>
                                <th class="text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let foodstore of foodstores">
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>{{ foodstore.name }}</td>
                                    <td>{{ foodstore.address.zip_code }}</td>
                                    <td>{{ foodstore.address.city }}</td>
                                    
                                    <span *ngIf="foodstore.actived" class="badge bg-gradient-primary text-white">Ativo</span>
                                    <span *ngIf="!foodstore.actived" class="badge bg-gradient-warning text-white">Inativo</span>

                                    <td class="td-actions text-right">
                                      <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                                        <i class="fa-solid fa-store"></i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa-solid fa-pen"></i>
                                      </button>
                                      <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " (click)="delete(foodstore.id)">
                                        <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <app-card-create-foodstore></app-card-create-foodstore>
    </div>
</div>

