<div class="row my-3">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h1>Bem-vindo</h1>
                <span>Crie sua conta gratuitamente</span>
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="validateForm()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Nome da empresa" formControlName="company">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-hotel text-primary"></i>
                                </span>
                            </div>
                            <span *ngIf="errorCompany" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="E-mail" formControlName="email">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-at text-primary"></i>
                                </span>
                            </div>
                            <span *ngIf="errorEmail" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Senha" formControlName="password">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-lock-open text-primary"></i>
                                </span>
                            </div>
                            <span *ngIf="errorPassword" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Confirmar senha" formControlName="confirmPass">
                                <span class="input-group-text pointer">
                                    <i class="fa-solid fa-lock-open text-primary"></i>
                                </span>
                            </div>
                            <span *ngIf="errorConfirmPass" class="badge bg-gradient-warning text-white">Campo inválido</span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn bg-gradient-primary text-white w-100" type="submit" *ngIf="!loading">Criar conta gratuita</button>
                        <button class="btn bg-gradient-primary text-white w-100" type="submit" *ngIf="loading">Criando <i class="fa-solid fa-spinner"></i></button>
                    </div>
                    <div class="col-md-12 text-center my-2">
                        <button class="btn bg-gradient-warning text-white w-100" type="button" (click)="navigate()">Já sou cadastrado</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <i class="fa-brands fa-dev mr-2"></i>
                <small>Em desenvolvimento</small>
                <i class="fa-brands fa-dev ml-2"></i>
            </div>
        </div>
    </div>
</div>