<div class="row my-3">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h1>Bem-vindo ao, <b>Sistema de entregas</b></h1>
                <span>Crie sua conta gratuitamente</span>
            </div>
            <div class="card-body">
                <form>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Nome da empresa">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-hotel"></i>
                                </span>
                            </div>
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="E-mail">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-at"></i>
                                </span>
                            </div>
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Senha">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-lock-open"></i>
                                </span>
                            </div>
                            <div class="input-group my-1">
                                <input type="text" class="form-control" placeholder="Confirmar senha">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-lock-open"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-sm btn-primary px-3 py-2">Criar conta gratuita</button>
                        </div>
                        <div class="col-md-12 text-center my-3">
                            <span>Ou</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <a href="#">Entrar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>